
<!-- Swipe Instructions Start -->

<div id="swipe-instruction">
  <div>
    <p><br><br><br></p>
    <i id="hand-swipe" class="fa fa-hand-o-up"></i>
    <p><strong>
    {% if page.section-type == "blog" %}
      Sabia que você pode navegar pelas páginas delizando para esquerda e direita?
    {% elsif page.section-type == "post" %}
      Sabia que você pode navegar pelos posts deslizando para esquerda e direita?
    {% endif %}
    </strong></p>
    <button type="button" class="btn btn-default ok-btn close-swipe-instruction">
      {% if page.section-type == "blog" %}
        Experimente!
      {% elsif page.section-type == "post" %}
        Legal!
      {% endif %}
    </button>
  </div>
</div>

<!-- Swipe Instructions End -->
